<!DOCTYPE html>
<html>

<head>
  <title>Timestamp Conversion Service</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div class='container'>
    <h1>FreeCodeCamp Backend Exercises</h1>
  </div>
  <div class="container">
    <h2>1: Timestamp Service
      <code>(/tsservice)</code>
    </h2>
    <p> This service will accept a date or timestamp in natural language (
      <code> January 1 2018 </code>) or unix timestamp(
      <code> 1514764800 </code>) form and covert it to the other type.
    </p>

    <h4> Example usage</h4>

    <h5>Request</h5>
    <code>GET https://quark-bead.glitch.me/tsservice/1450137600</code>
    <br>
    <code>GET https://quark-bead.glitch.me/tsservice/December%2015,%202015</code>

    <h5>Response</h5>
    <code>{"unix":1450137600,"natural":"December 15, 2015"}</code>

  </div>
  <div class="container">
    <h2>2: Header Viewer
      <code>(/headers)</code>
    </h2>
    <p> Sending a
      <code>GET</code> to this endpoint will return a few identifying headers from your request.</p>

    <h4> Example usage</h4>

    <h5>Request</h5>
    <code>GET https://quark-bead.glitch.me/headers</code>
    <br>

    <h5>Response</h5>
    <code>{"ipaddress":"xx.xxx.xx.xxx","language":"en-US","software":"Macintosh; Intel Mac OS X 10_13_2"}</code>

  </div>
</body>
</body>

</html>